{% extends "account/base.html" %}
{% load static %}
{% load clean_pagination_url %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/article_list.css' %}">
<div class="wrap">
    <div>
        <img class="blog-img" src="{% static 'account/images/sam-trotman-2f8SXXbP9nY-unsplash.jpg' %}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6"></div>
            <div class="col-12 col-xl-6">
                <form id="search-form-id" class="form-inline my-2 mb-lg-4 d-flex search-bar">
                    <input class="form-control mr-sm-2" type="search" name="title" placeholder="Search Articles" aria-label="Search">
                    <!-- <button class="btn btn-info my-sm-0" type="submit">Search</button> -->
                    <select name="tag" id="tag-filter-id" class="form-select ml-1" aria-label="Default select example">
                        <option value="">By Category</option>
                        {% for tag in tag_list %}
                            <option value="{{ tag.title }}" {% if selected_tag == tag.title %}selected{% endif %}>{{ tag }}</option>
                        {% endfor %}
                    </select>
                </form>
                <h1>ARTICLES</h1><span class="article-counter">({{ page_obj.paginator.count }})</span>
                <ul class="post-meta blog-list">
                    {% for article in object_list %}
                        <li>
                            <a href="{{ article.get_absolute_url }}">
                                <span style="margin-right:1rem;">{{ article.created_date|date:"m/d/y" }}</span>
                                <span>{{ article.title }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="pagination">
                    <span class="step-links">
                        <a href="{% if '?title=' in request.get_full_path %}{{ request.get_full_path|clean_pagination_url }}&page=1{% else %}?page=1{% endif %}"><i class="fas fa-angle-double-left"></i></a>
                        <a href="{% if page_obj.has_previous and '?title=' in request.get_full_path %}{{ request.get_full_path|clean_pagination_url }}&page={{ page_obj.previous_page_number }}{% elif page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"><i class="fas fa-angle-left"></i></a>
                        <span class="current">
                            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                        </span>
                        <a href="{% if page_obj.has_next and '?title=' in request.get_full_path %}{{ request.get_full_path|clean_pagination_url }}&page={{ page_obj.next_page_number }}{% elif page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}"><i class="fas fa-angle-right"></i></a>
                        <a href="{% if '?title=' in request.get_full_path %}{{ request.get_full_path|clean_pagination_url }}&page={{ page_obj.paginator.num_pages }}{% else %}?page={{ page_obj.paginator.num_pages }}{% endif %}"><i class="fas fa-angle-double-right"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 5rem; position: relative;"></div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#tag-filter-id').on('change', function(){
            let form = $('#search-form-id');
            form.submit();
        });
    });
</script>
{% endblock%}