{% extends "account/base.html" %}
{% load static %}
{% block content %}
<div class="wrap">
    <div>
        <img class="bg" src="{% static 'account/images/aaron-sebastian-XWl8Pu3HrgY-unsplash.jpg' %}" {% if user %}style="filter: blur(8px); -webkit-filter: blur(8px);"{% endif %}>
    </div>
    {% if user %}
        <div class="bg-text">
            <h1>Hi, {{ user.first_name }}</h1>
        </div>
    {% endif %}
    <div class="content d-flex">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card home">
                        <div class="card-body">
                            <h4 class="card-title">THE LATEST ARTICLE</h4>
                            <p class="card-text">{{ article.created_date|date:"m/d/y" }}</p>
                            <p class="card-text">{{ article.title }}</p>
                            <p class="card-text">{{ article.introduction|safe|truncatechars:150 }}</p>
                            <p class="card-text text-end"><a href="{{ article.get_absolute_url }}" class="hyper-link"><span>Read more</span></a></p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card home youtube">
                        <div class="card-body">
                            <h4 class="card-title">THE LATEST VIDEO</h4>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#youtubeModal">
                                <div id="youtube_embed">
                                    <iframe id="dummyIframe" src="{{ video.youtube_embed_url|safe }}" title="The latest Taiwan New Yorker video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card home">
                        <div class="card-body">
                            <h4 class="card-title">ENGLISH CLUB</h4>
                            <p class="card-text">Upcoming: {{ club }}</p>
                            {% if club.note %}
                                <p class="card-text">{{ club.note }}</p>
                            {% endif %}
                            <p class="card-text">Click <a href="/english-club" class="hyper-link"><span>here</span></a> to see available spots!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="youtubeModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="youtubeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="youtubeModalLabel">{{ video.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="youtubeModalContent">
                <iframe id="youtubeIframe" src="{{ video.youtube_embed_url|safe }}" title="The latest Taiwan New Yorker video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
        /*
        Source: stackoverflow.com/questions/48399390/youtube-embed-autoplay-on-mobile
        The reason that video autoplay doesn’t work is simple. The feature is deliberately disabled in both iOS and Android for mobile devices. The reason this is done is to save mobile users money. Such devices (especially mobile phones) often use data connections that charge by bandwidth. They have data limits and going over results in a fee.
        */
        let youtubeSrc = $('#youtubeIframe').attr('src');
        let autoplaySrc = youtubeSrc + '?autoplay=1';
        $('#youtube_embed, #youtubeNavId').click(function(){
            $('#youtubeIframe').attr("src", autoplaySrc);
        });
        $('#youtubeModal .btn-close').click(function(){
            $('#youtubeIframe').attr("src", youtubeSrc);
        });
    });
</script>
{% endblock%}
