{% extends "account/base.html" %}
{% load static %}
{% block content %}
<div class="wrap">
    <div>
        <img class="bg" src="{% static 'account/images/aaron-sebastian-XWl8Pu3HrgY-unsplash.jpg' %}" {% if user %}style="filter: blur(8px); -webkit-filter: blur(8px);"{% endif %}>
    </div>
    {% if user %}
        <div class="bg-text">
            <h1>Hi, {{ user.first_name }}</h1>
        </div>
    {% endif %}
    <div class="content d-flex">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card home">
                        <div class="card-body">
                            <h4 class="card-title">THE LATEST ARTICLE</h4>
                            <p class="card-text">{{ article.created_date|date:"m/d/y" }}</p>
                            <p class="card-text">{{ article.title }}</p>
                            <p class="card-text">{{ article.introduction|safe|truncatechars:150 }}</p>
                            <p class="card-text text-end"><a href="{{ article.get_absolute_url }}" class="hyper-link"><span>Read more</span></a></p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card home">
                        <div class="card-body">
                            <h4 class="card-title">THE LATEST VIDEO</h4>
                            <div id="youtube_embed">
                                {{ video.youtube_embed_html|safe }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card home">
                        <div class="card-body">
                            <h4 class="card-title">ENGLISH CLUB</h4>
                            <p class="card-text">Upcoming: {{ club }}</p>
                            <p class="card-text">Click <a href="/english-club" class="hyper-link"><span>here</span></a> to see available spots!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
