{% extends "account/base.html" %}
{% load static %}
{% block content %}
<div class="wrap">
    <div class="container">
        <div class="card" id="signup">
            <div class="card-body">
                <h5 class="card-title">LOGIN</h5>
                <form action="signin" method="post">
                    {% csrf_token %}
                    {% if errors %}
                        <div class="alert alert-danger">
                            <strong>{{ errors|escape }}</strong>
                            {% if error_link %}<a href="{{ error_link.link }}" class="alert-link">{{ error_link.msg }}</a>{% endif %}
                        </div>
                    {% endif %}
                    {% for field in signin_form %}
                        <div class="fieldWrapper">
                            {{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary float-end" type="submit" value="Login">
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                </form>
                <a href="/signup" style="text-decoration: none; margin-left: 1rem;"><span>Register Now</span></a>
                <!-- <a href="/signup" style="text-decoration: none; margin-left: 1.5rem;"><span>Reset Password</span></a> -->
            </div>
        </div>
    </div>
</div>
{% endblock%}
